<head
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<!-- clientlibrarymanager -->
	<clientlib data-sly-call="${clientLib.all @ categories=['cq.clientlibrarymanager']}" data-sly-unwrap />
	<div data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" data-sly-unwrap></div>	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Woods™ | TRUE. NORTH. STRONG. ™" />
	<meta name="author" content="" />
	<meta name="description" content="" />
    <link rel="shortcut icon" href="${inheritedPageProperties.favicon}" type="image/x-icon"/>
	<title>${currentPage.pageTitle}</title>
    <clientlib
        data-sly-call="${clientLib.all @ categories=['apps.woods' ,'apps.woods.header','apps.woods.footer','apps.woods.contactus','apps.woods.article']}"
        data-sly-unwrap />
    <includeSidekick
        data-sly-include="/libs/wcm/core/components/init/init.jsp"
        data-sly-unwrap />
</head>