<!--/*

     Woods
	_______________________
	
	Image Call to action component.

*/-->

<div data-sly-test="${wcmmode.edit}"
	data-emptytext="Image call to action" class="cq-placeholder" data-sly-unwrap></div>

<div class="container-fluid article">
	<div class="imagecontainer">
		<div class="row">
			<div class="article" >
				<div class="article1">
					<div class="article">
						<div>
                            <a href="${properties.imagePath}"><img src="${properties.imageRef}" alt="imag1"/></a>
						</div>
						<div>
							<h2 href="#" class="articles-list__item__header">${properties.title}</h2>
						</div>
						<div>
							<p class="articles-list__item__text">${properties.subtitle}</p>
						</div>					
						<div class="anchor">
                            <a class="articles-list__item__details web-analytics-custom-link" href="${properties.linkPath}" rel="nofollow" data-custom-link="{&quot;linkName&quot;:&quot;Home:FeatureBox:Woods™ Canada Greatest Explorer&quot;}">${properties.linkTitle}</a>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
