@font-face {
    font-family: HelveticaLTStd-BlkCond;
    src: url(/etc/designs/woods/clientlibs/fonts/HelveticaLTStd-BlkCond.eot);
    src: url(/etc/designs/woods/clientlibs/fonts/HelveticaLTStd-BlkCond.otf);
}
@font-face {
    font-family: RockwellStd-Bold;
    src: url(/etc/designs/woods/clientlibs/fonts/RockwellStd-Bold.eot);
    src: url(/etc/designs/woods/clientlibs/fonts/RockwellStd-Bold.otf);
}
.carousel-inner .item{
		height: 669px;
		border-bottom: 3px solid #64a70b;
	}    
  .carousel-inner img {
      width: 100%; 
      margin: auto;

  }
.container-fluid{
	padding : 0;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
 /* @media screen and (max-width: 600px) {

	.carousel-control{
	display : none;
	}
  }
*/
    @media (min-width: 1200px){
    .carousel_container .container {
    width: 100%;
    padding: 0;
	}
	}

  .slider__header_font-size {
    font-size: 60px;
   }
  .slider__header {
    font: bold 60px RockwellStd-Bold,'Times New Roman',serif;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.54);
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        width: 896px;
        text-align : left;
		}
	 .slider__description_font-size{
		font: bold 60px HelveticaLTStd-BoldCond,Helvetica,Arial,sans-serif;
		font-size: 21px;
		text-shadow: 4px 4px 7px rgba(0,0,0,0.54);
	 }

	.carousel-control{
		opacity : 0.1;
	}

	.slider__button {
        font: bold 17px HelveticaLTStd-BoldCond,Helvetica,Arial,sans-serif; 
        padding: 0;
        margin-top: 25px;
        display: inline-block;
        height: auto;
	}
	.slider__button_colors {
        color: #ffffff;
        background-color: #64a70b;
	}
	.button {

        text-align: center;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font: bold 17px/42px HelveticaLTStd-BoldCond,Helvetica,Arial,sans-serif;
        height: 42px;
        padding : 0 20px;
	}
	a:hover{
        text-decoration : none;
        color : #fff;
	}

	.carousel-control.left,.carousel-control.right{
		background : none;
		}

          @media screen and (max-width: 1028px) {
               /* .carousel_container .carousel-caption .slider__header_font-size {
                 font-size: 1.9rem;
                }
				.carousel_container .carousel-caption{
					    left: 8%;

				}
				.carousel_container .slider__description_font-size {
					font-size: 1.2rem;
				}
				.carousel-inner .item {
					height: auto;
				}
				.carousel_container .slider__header {
					font-size: 2.5rem;
					text-shadow: 2px 3px 3px rgba(0,0,0,0.33);
				}
				.carousel_container .slider__button {
					padding: 0 1.3rem;
					font-size: 1.25rem;
					margin-top: 1.5rem;
				}

				.carousel-inner>.item{
					width : 100%;
				}
				/*.carousel_container .carousel-indicators > li  {
					width: .7rem;
					height: .7rem;
					padding: 10px;
					margin: 10px;
					background-color:#cecece;
					
				}
				.carousel_container .carousel-indicators>li.active{
					width: .9rem;
					height: .9rem;
					padding: 10px;
					margin: 10px;
					background-color:#64a70b;
					border:transparent;

				} */
				.carousel_container .container{
						width : 100%;
            			padding : 0;
					}
          }
		   @media screen and (min-width: 1028px) {
			 .carousel-indicators li.active {
					width: 15px ;
					height: 15px;
					background-color: #64a70b;
					border: transparent;
            		margin : 1px; /* carousel-in same line */
				}
			.carousel-indicators li{
					width : 15px;
					height : 15px;
					background-color: #cecece;
        			border: transparent;
        			margin : 1px; /* carousel-in same line */
			} 
    		.carousel_container .carousel-inner .item, .carousel_container .carousel-inner .item img{
				height : 669px;
			} 


		   } 

			@media only screen and (min-width: 320px) and (max-width: 767px){

				.carousel_container .carousel-inner .item{
					width: 100%;
                    height : 225px;
                    background-size : cover;

				}
                .carousel_container{ 
                    padding-top: 100px;
				    height: 225px;
                }
				.carousel_container .carousel-inner .item a img{
					height : 225px;
				} 

				.carousel_container .carousel-indicators{
					bottom: 1px;

					}

          		.carousel_container .carousel-indicators li.active {
                    width: 0.7rem ;
                    height: 0.7rem;
                    background-color: #64a70b;
                    border: transparent;
                    padding: 0;
                    margin: 3px;
				}
				.carousel_container .carousel-indicators  li{
                    width: 0.7rem ;
                    height: 0.7rem;
                    background-color: #cecece;
                    border: transparent;
                    padding: 0;
                    margin: 3px;
				} 
				.carousel_container .carousel-caption{
					    left : 5%;
						width: 320px;
				}
        		.carousel_container #myCarousel{
					height : inherit;

       		 	}


				.carousel_container .carousel-caption .slider__header_font-size {
    				font-size: 1.9rem;
				}
				.carousel_container .carousel-caption .slider__description_font-size {
    				font-size: 1.2rem;
				}
        		.carousel_container .carousel-caption .slider__button {
    				padding: .1rem 1.3rem;
    				font-size: 1.25rem;
    				margin-top: 1.5rem;
				}
            }                

	@media only screen and (min-width: 768px) and (max-width: 1024px){

		.carousel_container .carousel-inner .item{
			width: 100%;
                    height: 292.5px;

		} 
        .carousel_container{ 
                    padding-top: 69px;
				    height: 292.5px;
                }
		.carousel_container .carousel-inner .item a img{
					height : 292.5px;
				} 
   		.carousel_container .carousel-caption .slider__button {
            font-size: 0.5rem;
            margin-top: 1.5rem;
            padding: 20px 20px;
            height: 80px;

		}
		.carousel_container>.carousel-caption {
            left: 5%;
            top: 57%;
		}
    	.carousel_container .slider__text.slider__description_font-size {
    		font-size: 3.6rem;
		}
		.carousel_container .carousel-caption .slider__header_font-size {
    				font-size: 3.9rem;
		}
		.carousel_container .carousel-caption .slider__description_font-size {
    				font-size: 2.6rem;
		}
        .carousel_container .carousel-caption .slider__button {
    				padding: -0.9rem 1rem;
    				font-size: 2.25rem;
    				margin-top: 1.5rem;
		}
        .carousel_container .carousel-caption{
					    left : 5%;
						width: 768px;
				}
		.carousel_container .carousel-indicators{
					bottom: 1px;

					}

          		.carousel_container .carousel-indicators li.active {
                    width: 0.9rem ;
                    height: 0.9rem;
                    background-color: #64a70b;
                    border: transparent;
                    padding: 0;
                    margin: 3px;
				}
				.carousel_container .carousel-indicators  li{
                    width: 0.9rem ;
                    height: 0.9rem;
                    background-color: #cecece;
                    border: transparent;
                    padding: 0;
                    margin: 3px;
				} 
	}

/*	@media (max-width: 1024px){
        .carousel_container .carousel-caption .slider__header_font-size {
             font-size: 3.9rem;
        }
         .carousel_container .slider__text.slider__description_font-size {
            font-size: 2.6rem;
         	}
         .carousel_container  .carousel-caption .slider__button {
            font-size: 4.25rem;
            margin-top: 1.5rem;
            padding: 20px 20px;
            height: 80px; }
         .carousel_container .carousel-caption .slider__button {
                    font-size: 2rem;
                    margin-top: 1.5rem;
                    padding: 13px 14px;
                    height: 64px;
            }

}


    .carousel_container>.carousel-caption {
        left: 5%;
        top: 57%;
    }
*/
