<!--/*

	Woods
	_______________________
	
	Footer Container component.

*/-->

<div class="footer_container">
	<!--Footer Begin-->
	<footer class="footer">
		<!--<a href="#page-content" class="button footer__button_top" role="button">Top</a>-->
		<div class="col-md-12">
			<div class="footer__wrapper ">
				<div class="col-md-6 col-sm-12 col-xs-12 footer_left">
					<div
						data-sly-resource="${'footerlinklist' @ resourceType='/apps/woods-apps/components/content/linklist'}"
						data-sly-unwrap></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div
						data-sly-resource="${'sociallinks' @ resourceType='/apps/woods-apps/components/content/sociallinks'}"
						data-sly-unwrap></div>
				</div>
			</div>
		</div>
	</footer>
	<!--Footer End -->
</div>
<div data-sly-test="${wcmmode.edit}" data-emptytext="Footer Container"
	class="cq-placeholder" 	data-sly-unwrap></div>
