#SECTION_1 {
    box-sizing: border-box;
    height: 349px;
    text-size-adjust: 100%;
    width: 1350px;
    perspective-origin: 675px 174.5px;
    transform-origin: 675px 174.5px;
    background: rgba(0, 0, 0, 0) url("http://woods.ca/templates/woods/image/basic-background.jpg") repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 3px solid rgb(100, 167, 11);
    font: normal normal normal normal 16px / normal sans-serif;
    padding: 0px 0px 24px;
}/*#SECTION_1*/

#DIV_2 {
    box-sizing: border-box;
    display: flex;
    height: 322px;
    text-size-adjust: 100%;
    width: 1028px;
    justify-content: space-around;
    perspective-origin: 514px 161px;
    transform-origin: 514px 161px;
    flex-flow: row wrap;
    font: normal normal normal normal 16px / normal sans-serif;
    margin: 0px 161px;
}/*#DIV_2*/

#ARTICLE_3, #ARTICLE_10, #ARTICLE_17 {
    bottom: 0px;
    box-sizing: border-box;
    height: 293px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    width: 325px;
    perspective-origin: 162.5px 146.5px;
    transform-origin: 162.5px 146.5px;
    font: normal normal normal normal 16px / normal sans-serif;
    margin: 29px 5px 0px;
    padding: 0px 0px 20px;
}/*#ARTICLE_3, #ARTICLE_10, #ARTICLE_17*/

#A_4, #A_11, #A_18 {
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal normal normal 16px / normal sans-serif;
}/*#A_4, #A_11, #A_18*/

#IMG_5, #IMG_12, #IMG_19 {
    box-sizing: border-box;
    color: rgb(0, 0, 238);
    height: 170px;
    text-align: center;
    text-size-adjust: 100%;
    width: 325px;
    column-rule-color: rgb(0, 0, 238);
    perspective-origin: 162.5px 85px;
    transform-origin: 162.5px 85px;
    border: 0px none rgb(0, 0, 238);
    font: normal normal normal normal 16px / normal sans-serif;
    outline: rgb(0, 0, 238) none 0px;
}/*#IMG_5, #IMG_12, #IMG_19*/

#A_6, #A_13, #A_20 {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    column-rule-color: rgb(0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 16px / normal sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_6, #A_13, #A_20*/

#H2_7, #H2_14, #H2_21 {
    box-sizing: border-box;
    height: 25px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 325px;
    perspective-origin: 162.5px 12.5px;
    transform-origin: 162.5px 12.5px;
    font: normal normal normal normal 20px / normal HelveticaLTStd-BlkCond, Helvetica, Arial, sans-serif;
    margin: 16px 0px 0px;
}/*#H2_7, #H2_14, #H2_21*/

#P_8 {
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    text-size-adjust: 100%;
    width: 325px;
    perspective-origin: 162.5px 20px;
    transform-origin: 162.5px 20px;
    font: normal normal normal normal 16px / normal HelveticaLTStd-Cond, Helvetica, Arial, sans-serif;
    margin: 7px 0px 11px;
}/*#P_8*/

#A_9 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 88, 65);
    display: block;
    height: 23px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 270px;
    width: 325px;
    column-rule-color: rgb(0, 88, 65);
    perspective-origin: 162.5px 11.5px;
    transform-origin: 162.5px 11.5px;
    border: 0px none rgb(0, 88, 65);
    font: normal normal bold normal 18px / normal HelveticaLTStd-BoldCond, Helvetica, Arial, sans-serif;
    outline: rgb(0, 88, 65) none 0px;
}/*#A_9*/

#A_9:after {
    bottom: 0px;
    color: rgb(0, 88, 65);
    content: '"' '>>"';
    display: block;
    height: 23px;
    left: 212.234px;
    position: absolute;
    right: 95.7656px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 0px;
    width: 12px;
    column-rule-color: rgb(0, 88, 65);
    perspective-origin: 8.5px 11.5px;
    transform-origin: 8.5px 11.5px;
    border: 0px none rgb(0, 88, 65);
    font: normal normal bold normal 12px / 23px HelveticaLTStd-BoldCond, Helvetica, Arial, sans-serif;
    outline: rgb(0, 88, 65) none 0px;
    padding: 0px 0px 0px 5px;
}/*#A_9:after*/

#P_15, #P_22 {
    box-sizing: border-box;
    height: 20px;
    text-align: center;
    text-size-adjust: 100%;
    width: 325px;
    perspective-origin: 162.5px 10px;
    transform-origin: 162.5px 10px;
    font: normal normal normal normal 16px / normal HelveticaLTStd-Cond, Helvetica, Arial, sans-serif;
    margin: 7px 0px 11px;
}/*#P_15, #P_22*/

#A_16 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 88, 65);
    display: block;
    height: 23px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 270px;
    width: 325px;
    column-rule-color: rgb(0, 88, 65);
    perspective-origin: 162.5px 11.5px;
    transform-origin: 162.5px 11.5px;
    border: 0px none rgb(0, 88, 65);
    font: normal normal bold normal 18px / normal HelveticaLTStd-BoldCond, Helvetica, Arial, sans-serif;
    outline: rgb(0, 88, 65) none 0px;
}/*#A_16*/

#A_16:after {
    bottom: 0px;
    color: rgb(0, 88, 65);
    content: '"' '>>"';
    display: block;
    height: 23px;
    left: 288.969px;
    position: absolute;
    right: 19.0313px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 0px;
    width: 12px;
    column-rule-color: rgb(0, 88, 65);
    perspective-origin: 8.5px 11.5px;
    transform-origin: 8.5px 11.5px;
    border: 0px none rgb(0, 88, 65);
    font: normal normal bold normal 12px / 23px HelveticaLTStd-BoldCond, Helvetica, Arial, sans-serif;
    outline: rgb(0, 88, 65) none 0px;
    padding: 0px 0px 0px 5px;
}/*#A_16:after*/

#A_23 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(0, 88, 65);
    display: block;
    height: 46px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 247px;
    width: 325px;
    column-rule-color: rgb(0, 88, 65);
    perspective-origin: 162.5px 23px;
    transform-origin: 162.5px 23px;
    border: 0px none rgb(0, 88, 65);
    font: normal normal bold normal 18px / normal HelveticaLTStd-BoldCond, Helvetica, Arial, sans-serif;
    outline: rgb(0, 88, 65) none 0px;
}/*#A_23*/

#A_23:after {
    bottom: 0px;
    color: rgb(0, 88, 65);
    content: '"' '>>"';
    display: block;
    height: 23px;
    left: 192.984px;
    position: absolute;
    right: 115.016px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 23px;
    width: 12px;
    column-rule-color: rgb(0, 88, 65);
    perspective-origin: 8.5px 11.5px;
    transform-origin: 8.5px 11.5px;
    border: 0px none rgb(0, 88, 65);
    font: normal normal bold normal 12px / 23px HelveticaLTStd-BoldCond, Helvetica, Arial, sans-serif;
    outline: rgb(0, 88, 65) none 0px;
    padding: 0px 0px 0px 5px;
}/*#A_23:after*/

