<!--/*
 
 
     Woods- Link list component.
 
*/-->
<nav
	class="col-xs-12 col-sm-12 col-md-12 menu footer-main-menu hidden-lg"
	data-sly-use.linkList="com.woods.core.components.Multifield">
	<ul class="col-xs-12 col-md-6 nav menu"
		data-sly-list.linkComp="${linkList.childList}">
		<!--<div class="col-xs-6">-->
		<li><a
			href="${linkComp.linkPath}${linkComp.openUrlInNewWindow ? '' : '.html'}"
			target="${linkComp.openUrlInNewWindow && '_blank'}">${linkComp.title}</a></li>
	</ul>
</nav>
<nav
	class="col-md-12 col-sm-12 col-xs-12 menu footer-main-menu visible-lg"
	data-sly-use.linkList="com.woods.core.components.Multifield">
	<ul class="col-md-6 col-sm-12 col-xs-12 nav menu"
		data-sly-list.linkComp="${linkList.childList}">
		<li><a
			href="${linkComp.linkPath}${linkComp.openUrlInNewWindow ? '' : '.html'}"
			target="${linkComp.openUrlInNewWindow && '_blank'}">${linkComp.title}</a></li>
	</ul>
</nav>
<div data-sly-test="${wcmmode.edit}" data-emptytext="Link List"
	class="cq-placeholder" 	data-sly-unwrap></div>