#IMG_1 {
    box-sizing: border-box;
    color: rgb(0, 0, 238);
    height: 108px;
    text-size-adjust: 100%;
    width: 98.5313px;
    column-rule-color: rgb(0, 0, 238);
    perspective-origin: 49.2656px 54px;
    transform-origin: 49.2656px 54px;
    border: 0px none rgb(0, 0, 238);
    font: normal normal normal normal 16px / normal sans-serif;
    outline: rgb(0, 0, 238) none 0px;
}/*#IMG_1*/

