 <header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container customBg">	
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-offset-1 col-xs-7 col-sm-7 col-md-5">
						// data-sly-resouce title
						<div class="col-xs-5 col-sm-5 col-md-5">
							// data-sly-resouce header links
						</div>
					</div>
					</div>
					<div class="navbar-header">
						// data-sly-resouce header logo
					</div>	
				<div id="navbar" class="col-xs-12 col-sm-7 col-md-6 collapse navbarToggleBg navbar-collapse">
						// data-sly-resouce header navigation
				</div><!--/.nav-collapse -->
				<div class="col-xs-12 col-sm-12  col-md-4  pull-right predictive-search">
					<div data-sly-resource="${'headersearch' @ resourceType='/apps/woods-apps/components/content/headerSearch'}" data-sly-unwrap></div>
				</div>
			</div>
		</div>
	</nav>
</header>