html{
	
	font-family: sans-serif;
}
.padding_0{
padding:0;
}
.margin_0 {
margin:0;
}
.footer_container .footer{
	height : 126px;
}
.footer {
    background-image: url("/etc/designs/woods/footer/image/footer-background.png");
    background-size: cover;
    border-top: 3px solid #64a70b;
    position: relative;
    
}
.footer__wrapper {
    margin: 0 auto;
    width: 90%;
    padding-top: 31px;
}
a:active, a:hover {
    outline: 0;
}
.footer .nav>li>a{
	padding:4px;
	
}
.footer .nav{
line-height : 10px;
}

footer .nav.menu a,.footer span.menu_social__header {
    color: #fff;
    font-family: 'HelveticaLTStd-BlkCond',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-decoration: none;
	font-weight:bold;
}
 footer .facebookIcon {
    background-image: url("/etc/designs/woods/footer/image/facebook.png");
    width: 21px;
    height: 21px;
    display: inline-block;
}
footer .twitterIcon {
    background-image: url("/etc/designs/woods/footer/image/Twitter_icon.png");
    width: 21px;
    height: 21px;
    display: inline-block;
}
footer .instagramIcon {
    background-image: url("/etc/designs/woods/footer/image/instagram.png");
    width: 21px;
    height: 21px;
    display: inline-block;
}
@media screen and (min-width: 1028px){
	.menu_footer, .footer-main-menu .nav.menu {
		width: 500px;
	}
    .footer__wrapper .footer_left{padding-top:10px;}
	.menu_footer > li, .footer-main-menu .nav.menu > li {
		display: inline-block;
		padding-right: 1rem;
	}
	.footer_container .footer {
    height: 126px;
}
.menu_social__header {
    font-size: 1.125rem;
    line-height: 2rem;
	
}
}
.menu.menu_social ul,.menu.menu_social li{
	display:inline-block;
	padding-left: 5px;
}
footer .menu.menu_social{
	padding-left:98px;
}
.menu {
    text-transform: uppercase;
}
.menu_footer, .footer-main-menu .nav.menu {
    color: #fff;
    font-family: 'HelveticaLTStd-BlkCond',Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.menu ul, .no-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer .nav>li>a:hover {
    background-color: transparent;
}
.footer-main-menu .menu li{
	margin:0px;
} 
 

@media only screen and (min-width: 320px) and (max-width : 1027px) {
.footer_container .footer {
    height: 19.6rem;
}
.menu_social__header {
    font-size: 1.125rem;
    line-height: 2rem;
	padding-left: 0;
}
footer .menu.menu_social{
	padding-left:19px;
	padding-right : 0;
	padding-top : 10px;
}
.menu_social .nav .menu {
	width : 85px;
	display : flex;

}
.footer__wrapper {
    margin: 0 auto;
    width : 100%;
    padding-top: 31px;
}
}
@media only screen and (min-width : 321px) and (max-width : 768px) {
.menu.menu_social ul, .menu.menu_social li {
     padding-left: 0;
}
.footer .menu_social__header {
    margin-right: 0px;
}
.footer .nav>li>a {
    padding: 1px;
}
}
.menu_social__header {
    font: 14px HelveticaLTStd-BlkCond,Helvetica,Arial,sans-serif;
    margin-right: 21px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .menu_footer, .footer-main-menu .menu.nav{
	font-size : 13px;	
   }
}
@media only screen and (max-width : 320px) {
	menu.menu_social ul, .menu.menu_social li {
     padding-left: 0;
}
.footer .menu_social__header {
    margin-right: 0px;
	
}
footer .nav.menu a, .footer span.menu_social__header{font-size : 10px;}
.footer .nav>li>a {
    padding: 0px;
	font-size:10px;
}
footer .menu.menu_social {
    padding-left: 16px;
}

}