<!--/*

	Woods
	_______________________
	
	Header Search component.

*/-->
<div data-sly-test="${wcmmode.edit}" data-emptytext="Header Search"
	class="cq-placeholder" data-sly-unwrap></div>

<div id="predictive-search-form" class="search">
	<input type="text" name="searchquery" class="search__input"> <input
		type="submit" value="${properties.freetext}"
		class="search__button search__button_inactive" disabled="">
		<input type="hidden" value="${properties.elasticSearch}" name="elasticSearch" id="elasticSearch">
		<input type="hidden" value="${inheritedPageProperties.hybrisRedirectPage}" name="hybrisRedirectPath" id="hybrisRedirectPath">
        <input type="hidden" value="${inheritedPageProperties.parameter}" name="queryparameter" id="queryparameter">
</div>