<!--/*

	Woods
	_______________________
	
	Header Search component.

*/-->
<div data-sly-test="${wcmmode.edit}" data-emptytext="Header Search"
	class="cq-placeholder"></div>

<div id="predictive-search-form" class="search">
	<input type="text" name="searchquery" class="search__input"> <input
		type="submit" value="${properties.freetext}"
		class="search__button search__button_inactive" disabled=""> <input
		type="submit" class="advanced_Search" value="${properties.advanceSearchLabel}"
		disabled="">
		<input type="hidden" value="${inheritedPageProperties.hybrisRedirectPage}" name="hybrisRedirectPath" id="hybrisRedirectPath">
</div>